/* nav bar*/
.navbar-brand {
    font-size: 40px;
    font-family: cursive;
}

.navbar-nav {
  padding: 25px 50px;
}

.carousel-inner {
    height: 600px;
}
  
.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 600px;
}

/* Mission section*/
#mission {
    margin-top: 10px;
    margin-left: 0px;
}


#mission h2{
    font-size: 25px;
    font-family: cursive;
    padding: 30px;
}

#mission .col-lg-4{
    padding: 15px;
    float: left;
}

#mission .col-lg-4{
    font-size: 20px;
    font-family: cursive;
    padding: 20px;
}

#about {
    margin: 20px;   
}

#about h2{
    font-size: 40px;
}

#about .col-lg-6 {
    padding: 15px;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgrey
}

#about .col-lg-6 img{
    width: 100%;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* proposed section*/
#proposed {
    padding: 10px;
    height: 300px;
    background-color: rgb(125, 128, 125);
}

#proposed .card{
    background-color: rgb(125, 128, 125);
    font-family: cursive;
}

/* statistics section */
#statistics{
    padding: 10px;
    height: 300px;
}

#statistics .col-lg-3{
    padding: 30px;
    float: left;
  
}
  
#statistics .col-lg-3 h3{
    font-family: cursive;
}

/* Departments section*/
#department {
    padding: 20px;
}

#department .buttons{
    padding: 10px;
    margin-left: 40%;
}

/* contacts section */
#contact {
    padding: 20px;
    background-color: brown;
}


#contact .col-lg-6{
    padding: 20px;
}

#contact .col-lg-6 img{
    width: 100%;
}

/* lower-img section*/
#lower-img {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* telephone section*/
#telephone {
    padding: 20px;
    background-color: rgb(65, 64, 64);
    height: 300px;
}

#telephone .col-lg-4{
    padding: 30px;
    font-size: larger;
    font-family: cursive;
}

#telephone .col-lg-4 h6{
    font-size: 30px;
}

/* footer section*/

#footer{
    background-color: rgb(65, 64, 64);
}

/* list group section*/

#list-group {
    padding: 10px;
}



#list-group .container {
    display: inline;
}

#boss .container .card{
    font-family: cursive;
}


/* departments section */
#main .col-md-9 .card {
    font-size: large;
    font-family: cursive;
}

#main .col-md-3 .card {
    font-family: cursive;
}